.pink {
    color: pink;
}

.red {
    color: red;
}

.blue {
    color: blue;
}
.size1{
  font-size: 24px;
}
.size2{
  font-size: 55px;
  border-color: black;
  border-style: dotted;

}
.size3{
  font-family: cursive;
  text-decoration-style: wavy;

}
